.container2 {
  display: flex;
  flex-flow: column nowrap;
  height: fit-content;
}

.weatherBigBox {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  height: fit-content;
}

.weatherBox {
  display: flex;
  justify-content: space-around;
  align-content: start;
  flex-flow: row wrap;
  width: 300px;
  height: fit-content;
  border-radius: 20px;
}

.buttonBox {
  display: flex;
  margin: 5px;
}

.buttonResetRefresh {
  width: fit-content;
  padding: 5px;
  margin: 5px;
  height: 30px;
}

.weatherHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #fff;
  border-radius: 15px;
}

.weatherHeaderSubdiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.weatherHeadText {
  display: block;
}

.smallText {
  font-size: 0.9rem;
  line-height: 1rem;
}

.cityContainer {
  display: flex;
  flex-flow: column nowrap;
}

.citySelector {
  margin: 2px;
  width: 130px;
  background-color: inherit;
  border: 2px solid #bebebe;
  border-radius: 10px;
}

.imageAndRain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin-top: 10px;
}

.image {
  height: 75px;
  width: 75px;
}

.actualWeatherBox {
  height: fit-content;
  margin-top: 10px;
}

.actualTemp {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 15px 0;
}

.predictionBox1 {
  width: 90%;
}

.predictionBox2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.predictonByHour {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 20%;
  margin: 5px;
  list-style-type: none;
  border-radius: 10px;
}

.predictionImage {
  height: 20px;
  width: auto;
  margin-bottom: 5px;
}

.skeleton {
  height: 200px;
}
