* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.global {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}